/* App global styles */
#root {
	height: 100%;
	width: 100%;
}

body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
}


body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
}

.container {
	display: flex;
	width: 100%;
	height: 100vh;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.panel {
	overflow: auto;
	padding: 10px;
}

.left-panel {
	background-color: #1b1b1e;
	color: white;
}

.right-panel {
	background-color: #1b1b1e;
	color: white;
}

.divider {
	width: 5px;
	background-color: #3e3e3b;
	cursor: col-resize;
	position: relative;
}

.divider:hover {
	background-color: #5e5e5b;
}